<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleName</key><string>WhereSoundMeetDriver</string>
  <key>CFBundleIdentifier</key><string>com.zan.wheresoundmeet.driver</string>
  <key>CFBundleExecutable</key><string>WhereSoundMeetDriver</string>
  <key>CFBundlePackageType</key><string>BNDL</string>
  <key>CFBundleShortVersionString</key><string>0.1.0</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>LSMinimumSystemVersion</key><string>14.0</string>
  <key>CFPlugInFactories</key><dict>
    <key>873FC8A1-9E53-470D-9433-5F6027FABF1A</key><string>WhereSoundMeetDriver_Create</string>
  </dict>
  <key>CFPlugInTypes</key><dict>
    <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key><array><string>873FC8A1-9E53-470D-9433-5F6027FABF1A</string></array>
  </dict>
</dict></plist>
